/* Définition des polices personnalisées */

@font-face
{
    font-family: 'ARCADECLASSIC';
    src: url('polices/ARCADECLASSIC.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Header */

header
{
	background-color: pink;
	display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid black;
    border-top: 2px solid black;
   	border-left: 2px solid black;
   	border-right: 2px solid black;
}

header h1
{
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
    margin: 0 0 0 10px;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

/* Navigation */

header nav
{
	border-top: 2px solid black;
   	border-left: 2px solid black;
   	border-bottom: 2px solid black;
}

nav ul
{
    list-style-type: none;
    display: flex;
   	vertical-align: center;
}

nav li
{
    margin-right: 15px;

}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

body{	
	background-color: white;
	font-family: 'ARCADECLASSIC';
}



p {
    color: darkgrey;
    width: 20%;
    border: 1px solid black;
    text-align: justify;
    padding: 12px; /* Marge intérieure de 12px */
    /*margin: 250px; /* Marge extérieure de 50px */
    margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
    margin-bottom: 20px;
}

.titre {
    color: indianred;
    font-family: 'Lato';
}

p:hover {
    color : gray;
    font-size: 19px;
}

.yolo {
    color: indianred;
}

.yolo:active{
    background-color: teal;
}

.img {
    height : 50px;
}

#clique
{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    background-color: yellow;
    display: flex;
}

section{
    background-color: blue;
}
aside{
    background-color: green;
    width: 20%;
}
article{
    background-color: purple;
    width: 80%;
}

#conteneur{
    background-color: beige;
    display: flex;
    
}

.element
{
   /* margin: auto;*/
}


#figure{
	height: 100%;
	width: 100%;
	margin: auto;
}


