body{	
	background-color: white;
}

h1 {
	box-shadow: 10px 5px 5px red;
}

p {
    color: darkgrey;
    width: 20%;
    border: 1px solid black;
    text-align: justify;
    padding: 12px; /* Marge intérieure de 12px */
    /*margin: 250px; /* Marge extérieure de 50px */
    margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
    margin-bottom: 20px;
}

.titre {
    color: indianred;
    font-family: 'Lato';
}

p:hover {
    color : gray;
    font-size: 19px;
}

.yolo {
    color: indianred;
}

.yolo:active{
    background-color: teal;
}

.img {
    height : 50px;
}

#clique
{
<<<<<<< HEAD
    display: flex;
    justify-content: center;
    align-items: center;
}


header{
    background-color: pink;
}

nav{
    background-color: yellow;
}

section{
    background-color: blue;
}
aside{
    background-color: green;
}
article{
    background-color: purple;
}

#conteneur{
    background-color: beige;
    display: flex;
    height: 20px;
}

.element
{
   /* margin: auto;*/
}

.element:nth-child(2) /* On prend le deuxième bloc élément */
{
    background-color: blue;
    align-self: flex-end; /* Seul ce bloc sera aligné à la fin */
     flex: 1;
     margin : auto;
    align-content: center;

}
