/* Définition des polices personnalisées */

@font-face {
    font-family: 'ARCADECLASSIC';
    src: url('polices/ARCADECLASSIC.ttf');
    font-weight: normal;
    font-style: normal;
}

/* body */
body {   
    background-color: white;
    font-family: 'ARCADECLASSIC';
}

/* page */
#bloc_page {  
    margin: auto;
}

/* Header */

header {
	background-color: pink;
	display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid black;
    border-top: 2px solid black;
   	border-left: 2px solid black;
   	border-right: 2px solid black;
}

header h1 {
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2 {
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
    margin: 0 0 0 10px;
}

#titre_principal {
    display: flex;
    flex-direction: column;
}

/* header Navigation */

header nav {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    justify-content: center; 
	border-top: 2px solid black;
   	border-left: 2px solid black;
   	border-bottom: 2px solid black;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav li {
    margin-right: 15px;

}

header nav a {
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

header nav a:hover {
    color: #760001;
    border-bottom: 3px solid #760001;
}

article p {
    color: darkgrey;
    /*margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
}

img {
    height : 150px;
    width : 150px;
}

/*p:hover {
    color : gray;
    font-size: 19px;
}*/

.yolo {
    color: indianred;
}

.yolo:active {
    background-color: teal;
}



/*couleur de fond*/
section {
    background-color: blue;
    margin-bottom: 20px;

}

article {
    background-color: purple;

}


article nav {
    display: flex;
    background-color: green; 
    padding-bottom: 100px;
    padding-top: 100px;
    height: 200px
}

article nav ul {
    list-style-type: none;
    display: flex;
    margin: auto;
    padding-left: 0px;
    align-items: center;
}

article nav li {
    margin-right: 30px;
    margin-left: 30px;
}


article nav img:hover {
    color: #760001;
    border: 3px solid #760001;
}

footer {
    display: flex;
}



