body{	
	background-color: white;
	border-top: 20px solid #1250A3;
	margin-bottom: 20px;
	padding-top: 30px;
}
.siteBorderRight{
	position: fixed;
	top : 0;
	right : 0;
	height : 100%;
	border : 10px solid #1250A3;
	border-top : none;
}
.siteBorderLeft{
	position: fixed;
	top : 0;
	left:  : 0;
	height : 100%;
	border : 10px solid #1250A3;
	border-top : none;
}
.siteBorderBottom{
	position: fixed;
	bottom : 0;
	right : 0;
	width : 100%;
	border : 20px solid #1250A3;
	border-top : none;
}
h1,p {
	text-align : center;
}
#titleHome{
	font-family: 'Lato';
	font-weight: 700;
}
.resume {
    color: #070707;
    text-decoration: none;
    font-family: lato;
    -webkit-transition: color .1s ease-in-out;
    -moz-transition: color .1s ease-in-out;
    -ms-transition: color .1s ease-in-out;
    -o-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;    
}
#homepage {
    color: #070707;
    text-decoration: none;
    font-family: lato;
    -webkit-transition: color .1s ease-in-out;
    -moz-transition: color .1s ease-in-out;
    -ms-transition: color .1s ease-in-out;
    -o-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;    
}
.line {
	border-bottom: 1px solid #E5E5E5;
}
.header{
	margin-top: 10px;
	position: sticky;
}
#espace{
	height : 90px;
}
.description{
	position : absolute;
	width : 290px;
	margin-left : -165px;
	margin-top: -25px;
}
.titleDescription{
	font-family: 'Lato';
	font-weight: 700;
	font-size : 170%;
	text-align : left;
}
#paragrapheHome {
	font-size: 130%;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	line-height: 40px
}
.titre{
	background-color: white;
	color : white;
}
table, td{
	margin: auto;
	margin-top: 0;
	background-color: white;
	color: black;
	border: 5px solid white;
}
#table2{
	margin-top: 0;
	width:900px;
}
.paragraphePages{
	font-size: 130%;
	font-family : 'Lato';
	text-align: left;
	margin-left: 5px;
}
#textleft{
	text-align: left;
	font-size: 130%;
}
#textright{
	text-align: right;
	font-size: 130%;
	margin-top: -35px;
}
.VrProjects{
	height: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.ArProjects{
	height: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}
.GraphProjects{
	height: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}
#footer{
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
	color : black;
	position: sticky;
}
#footer2{
	margin-bottom: 20px;
	margin-top: 70px;
	text-align: center;
	color : black;
	width : 100%;
	position: relative;
}

